/* src/styles/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #014f86;
  --color-secondary: #a9d6e5;
  --color-lightBlue: #89c2d9;
  --color-mediumBlue: #61a5c2;
  --color-blueGray: #468faf;
  --color-darkBlue1: #2c7da0;
  --color-darkBlue2: #2a6f97;
  --color-deepBlue1: #01497c;
  --color-deepBlue2: #013a63;
  --color-deepBlue3: #012a4a;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-50 text-gray-800;
  font-family: 'Inter', sans-serif;
}
